In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
df_raw = pd.read_excel("data/raw/hosong.xlsx", header = [0, 1, 2, 3])
print(f"length: {len(df_raw)}")
print(f"columns: {df_raw.shape[1]}")
df_raw.head(3)

length: 6
columns: 91

   Unnamed: 0_level_0              A0                              \
   Unnamed: 0_level_1              左邊
   Unnamed: 0_level_2 直徑(1)\n圓(A0.左邊)
                 time              NV      AV     DV     UT LT ER
0 2023-09-20 17:53:00              98  98.019  0.019  0.022  0  0
1 2023-09-20 19:32:00              98  98.015  0.015  0.022  0  0
2 2023-09-21 11:18:00              98  98.012  0.012  0.022  0  0

                                     ...                         A180         \
                                     ...                          左右邊
  Y距離(7)\n距離(A0.左邊)                  ... Y距離(6)\n距離(A180.左邊)(A180.右邊)
                 NV       AV     DV  ...                           DV     UT
0               100  100.011  0.011  ...                        0.008  0.019
1               100  100.000  0.000  ...                        0.011  0.019
2               100   99.997 -0.003  ...                       -0.008  0.019

                   None
                   None
            XY距離(1)\n距離
  LT     ER          NV       AV     DV    UT    LT     ER
0  0  0.000       240.3  240.301  0.001  0.05 -0.05  0.000
1  0  0.000       240.3  240.321  0.021  0.05 -0.05  0.000
2  0 -0.008       240.3  240.242 -0.058  0.05 -0.05 -0.008

[3 rows x 91 columns]

In [3]:
# Expand data to 1200
df = pd.DataFrame(columns = df_raw.columns, index = range(1200))
start = len(df_raw)
df.iloc[:start] = df_raw
print(f"length: {len(df)}")
df.head(3)

length: 1200

    Unnamed: 0_level_0              A0                              \
    Unnamed: 0_level_1              左邊
    Unnamed: 0_level_2 直徑(1)\n圓(A0.左邊)
                  time              NV      AV     DV     UT LT ER
0  2023-09-20 17:53:00              98  98.019  0.019  0.022  0  0
1  2023-09-20 19:32:00              98  98.015  0.015  0.022  0  0
2  2023-09-21 11:18:00              98  98.012  0.012  0.022  0  0

                                     ...                         A180         \
                                     ...                          左右邊
  Y距離(7)\n距離(A0.左邊)                  ... Y距離(6)\n距離(A180.左邊)(A180.右邊)
                 NV       AV     DV  ...                           DV     UT
0               100  100.011  0.011  ...                        0.008  0.019
1               100    100.0    0.0  ...                        0.011  0.019
2               100   99.997 -0.003  ...                       -0.008  0.019

                   None
                   None
            XY距離(1)\n距離
  LT     ER          NV       AV     DV    UT    LT     ER
0  0    0.0       240.3  240.301  0.001  0.05 -0.05    0.0
1  0    0.0       240.3  240.321  0.021  0.05 -0.05    0.0
2  0 -0.008       240.3  240.242 -0.058  0.05 -0.05 -0.008

[3 rows x 91 columns]

In [4]:
# Generate time
start_date = "2023-09-21 17:36:00"
end_date = "2023-10-6 23:59:59"
time_range = pd.date_range(start = start_date, end = end_date, freq = 'T') # 每5分鐘產生一個時間
random_time = np.random.choice(time_range, size = (len(df) - start))
sort_time = pd.DatetimeIndex(random_time).sort_values()
df.iloc[start:, 0] = sort_time

In [5]:
# Get the full names of features of different categories
NV_col = [i for i in df.columns if i[3] == "NV"]
AV_col = [i for i in df.columns if i[3] == "AV"]
DV_col = [i for i in df.columns if i[3] == "DV"]
UT_col = [i for i in df.columns if i[3] == "UT"]
LT_col = [i for i in df.columns if i[3] == "LT"]
ER_col = [i for i in df.columns if i[3] == "ER"]
print(f"NV_col: {len(NV_col)}")

NV_col: 15

In [6]:
# fill constant value
df[NV_col + UT_col + LT_col] = df[NV_col + UT_col + LT_col].fillna(method = "ffill")
df.tail()

       Unnamed: 0_level_0              A0                           \
       Unnamed: 0_level_1              左邊
       Unnamed: 0_level_2 直徑(1)\n圓(A0.左邊)
                     time              NV   AV   DV     UT LT   ER
1195  2023-10-06 22:39:00              98  NaN  NaN  0.022  0  NaN
1196  2023-10-06 22:41:00              98  NaN  NaN  0.022  0  NaN
1197  2023-10-06 22:57:00              98  NaN  NaN  0.022  0  NaN
1198  2023-10-06 23:17:00              98  NaN  NaN  0.022  0  NaN
1199  2023-10-06 23:41:00              98  NaN  NaN  0.022  0  NaN

                                  ...                         A180            \
                                  ...                          左右邊
     Y距離(7)\n距離(A0.左邊)            ... Y距離(6)\n距離(A180.左邊)(A180.右邊)
                    NV   AV   DV  ...                           DV     UT LT
1195               100  NaN  NaN  ...                          NaN  0.019  0
1196               100  NaN  NaN  ...                          NaN  0.019  0
1197               100  NaN  NaN  ...                          NaN  0.019  0
1198               100  NaN  NaN  ...                          NaN  0.019  0
1199               100  NaN  NaN  ...                          NaN  0.019  0

                 None
                 None
          XY距離(1)\n距離
       ER          NV   AV   DV    UT    LT   ER
1195  NaN       240.3  NaN  NaN  0.05 -0.05  NaN
1196  NaN       240.3  NaN  NaN  0.05 -0.05  NaN
1197  NaN       240.3  NaN  NaN  0.05 -0.05  NaN
1198  NaN       240.3  NaN  NaN  0.05 -0.05  NaN
1199  NaN       240.3  NaN  NaN  0.05 -0.05  NaN

[5 rows x 91 columns]

In [7]:
limit_dict = {
    "直徑(1)": [0.022,  0],
    "Y(7)":    [0.012, -0.01],
    "Z(7)":    [0.01,  -0.01],
    "直徑(2)": [0.022,  0],
    "Y(8)":    [0.01,  -0.01],
    "Z(8)":    [0.01,  -0.015],
    "Y(5)":    [0.019,  0],
    "直徑(3)": [0.022,  0],
    "Y(9)":    [0.01,  -0.013],
    "Z(9)":    [0.01,  -0.011],
    "直徑(4)": [0.024,  0],
    "Y(10)":   [0.012, -0.01],
    "Z(10)":   [0.01,  -0.01],
    "Y(6)":    [0.019, -0.008],    
    "XY(1)":   [0.05,  -0.10],

}
limit = list(limit_dict.values())

In [8]:
# Generate AV
for i, (nv_col, av_col) in enumerate(zip(NV_col, AV_col)):
    for j in range(start, len(df)):
        diff1 = round(random.uniform(limit[i][1], 0), 3)
        diff2 = round(random.uniform(0.001, limit[i][0]), 3)
        diff1 = diff2 if (diff1 == 0) else diff1
        new = df.loc[j, nv_col] + random.choice([diff1, diff2])
        new = round(new, 3)
        df.loc[j, av_col] = new

In [9]:
df.tail()

       Unnamed: 0_level_0              A0                              \
       Unnamed: 0_level_1              左邊
       Unnamed: 0_level_2 直徑(1)\n圓(A0.左邊)
                     time              NV      AV   DV     UT LT   ER
1195  2023-10-06 22:39:00              98  98.021  NaN  0.022  0  NaN
1196  2023-10-06 22:41:00              98  98.007  NaN  0.022  0  NaN
1197  2023-10-06 22:57:00              98   98.02  NaN  0.022  0  NaN
1198  2023-10-06 23:17:00              98  98.002  NaN  0.022  0  NaN
1199  2023-10-06 23:41:00              98  98.007  NaN  0.022  0  NaN

                                      ...                         A180         \
                                      ...                          左右邊
     Y距離(7)\n距離(A0.左邊)                ... Y距離(6)\n距離(A180.左邊)(A180.右邊)
                    NV       AV   DV  ...                           DV     UT
1195               100   99.999  NaN  ...                          NaN  0.019
1196               100  100.003  NaN  ...                          NaN  0.019
1197               100   99.991  NaN  ...                          NaN  0.019
1198               100  100.001  NaN  ...                          NaN  0.019
1199               100  100.001  NaN  ...                          NaN  0.019

                    None
                    None
             XY距離(1)\n距離
     LT   ER          NV       AV   DV    UT    LT   ER
1195  0  NaN       240.3  240.248  NaN  0.05 -0.05  NaN
1196  0  NaN       240.3  240.335  NaN  0.05 -0.05  NaN
1197  0  NaN       240.3  240.308  NaN  0.05 -0.05  NaN
1198  0  NaN       240.3  240.339  NaN  0.05 -0.05  NaN
1199  0  NaN       240.3  240.331  NaN  0.05 -0.05  NaN

[5 rows x 91 columns]

In [10]:
# Generate DV
df[DV_col] = (df[AV_col].values - df[NV_col].values).astype(float).round(3)

In [11]:
# Generate ER
ER_upper_limit = (df[DV_col].values - df[UT_col].values)
ER_lower_limit = (df[DV_col].values - df[LT_col].values)
ER_upper_limit = np.maximum(ER_upper_limit, 0)
ER_lower_limit = np.minimum(ER_lower_limit, 0)
df[ER_col] = (ER_upper_limit + ER_lower_limit).astype(float).round(3)
df.tail()

       Unnamed: 0_level_0              A0                                \
       Unnamed: 0_level_1              左邊
       Unnamed: 0_level_2 直徑(1)\n圓(A0.左邊)
                     time              NV      AV     DV     UT LT   ER
1195  2023-10-06 22:39:00              98  98.021  0.021  0.022  0  0.0
1196  2023-10-06 22:41:00              98  98.007  0.007  0.022  0  0.0
1197  2023-10-06 22:57:00              98   98.02  0.020  0.022  0  0.0
1198  2023-10-06 23:17:00              98  98.002  0.002  0.022  0  0.0
1199  2023-10-06 23:41:00              98  98.007  0.007  0.022  0  0.0

                                        ...                         A180  \
                                        ...                          左右邊
     Y距離(7)\n距離(A0.左邊)                  ... Y距離(6)\n距離(A180.左邊)(A180.右邊)
                    NV       AV     DV  ...                           DV
1195               100   99.999 -0.001  ...                        0.014
1196               100  100.003  0.003  ...                       -0.001
1197               100   99.991 -0.009  ...                        0.014
1198               100  100.001  0.001  ...                        0.006
1199               100  100.001  0.001  ...                        0.018

                             None
                             None
                      XY距離(1)\n距離
         UT LT     ER          NV       AV     DV    UT    LT     ER
1195  0.019  0  0.000       240.3  240.248 -0.052  0.05 -0.05 -0.002
1196  0.019  0 -0.001       240.3  240.335  0.035  0.05 -0.05  0.000
1197  0.019  0  0.000       240.3  240.308  0.008  0.05 -0.05  0.000
1198  0.019  0  0.000       240.3  240.339  0.039  0.05 -0.05  0.000
1199  0.019  0  0.000       240.3  240.331  0.031  0.05 -0.05  0.000

[5 rows x 91 columns]

In [12]:
# adjust ER count to achieve ~ 30%
df_ER = df[(df[ER_col] != 0).any(axis = 1)]
adjust_n = round(((len(df_ER)/len(df)) - 0.33) * len(df))
adjust_index = df_ER.iloc[start:].sample(n = adjust_n).index
adjust_index

Index([ 989,  982,  385,  907, 1140,  103, 1129, 1058,  127,  671,
       ...
         36,  504,  382,   73,  798,  721,  400,  846,  198,   64],
      dtype='int64', length=521)

In [13]:
# Generate AV
LT_value = df.loc[0, LT_col]
UT_value = df.loc[0, UT_col]
for i, (nv_col, av_col) in enumerate(zip(NV_col, AV_col)):
    for j in adjust_index:
        diff1 = round(random.uniform(LT_value[i], 0), 3)
        diff2 = round(random.uniform(0.001, UT_value[i]), 3)
        diff1 = diff2 if (diff1 == 0) else diff1
        new = df.loc[j, nv_col] + random.choice([diff1, diff2])
        new = round(new, 3)
        df.loc[j, av_col] = new

In [14]:
# Generate DV
df[DV_col] = (df[AV_col].values - df[NV_col].values).astype(float).round(3)

In [15]:
# Generate ER
ER_upper_limit = (df[DV_col].values - df[UT_col].values)
ER_lower_limit = (df[DV_col].values - df[LT_col].values)
ER_upper_limit = np.maximum(ER_upper_limit, 0)
ER_lower_limit = np.minimum(ER_lower_limit, 0)
df[ER_col] = (ER_upper_limit + ER_lower_limit).astype(float).round(3)
df.tail()

       Unnamed: 0_level_0              A0                                \
       Unnamed: 0_level_1              左邊
       Unnamed: 0_level_2 直徑(1)\n圓(A0.左邊)
                     time              NV      AV     DV     UT LT   ER
1195  2023-10-06 22:39:00              98  98.021  0.021  0.022  0  0.0
1196  2023-10-06 22:41:00              98   98.02  0.020  0.022  0  0.0
1197  2023-10-06 22:57:00              98   98.02  0.020  0.022  0  0.0
1198  2023-10-06 23:17:00              98  98.002  0.002  0.022  0  0.0
1199  2023-10-06 23:41:00              98  98.007  0.007  0.022  0  0.0

                                        ...                         A180  \
                                        ...                          左右邊
     Y距離(7)\n距離(A0.左邊)                  ... Y距離(6)\n距離(A180.左邊)(A180.右邊)
                    NV       AV     DV  ...                           DV
1195               100   99.999 -0.001  ...                        0.014
1196               100   99.997 -0.003  ...                        0.016
1197               100   99.991 -0.009  ...                        0.014
1198               100  100.001  0.001  ...                        0.006
1199               100  100.001  0.001  ...                        0.018

                           None
                           None
                    XY距離(1)\n距離
         UT LT   ER          NV       AV     DV    UT    LT     ER
1195  0.019  0  0.0       240.3  240.248 -0.052  0.05 -0.05 -0.002
1196  0.019  0  0.0       240.3  240.284 -0.016  0.05 -0.05  0.000
1197  0.019  0  0.0       240.3  240.308  0.008  0.05 -0.05  0.000
1198  0.019  0  0.0       240.3  240.339  0.039  0.05 -0.05  0.000
1199  0.019  0  0.0       240.3  240.331  0.031  0.05 -0.05  0.000

[5 rows x 91 columns]

In [16]:
df[ER_col].describe().T[["std", "min", "max"]]

                                                std    min    max
A0   左邊   直徑(1)\n圓(A0.左邊)              ER  0.000000  0.000  0.000
          Y距離(7)\n距離(A0.左邊)            ER  0.000302  0.000  0.002
          Z距離(7)\n距離(A0.左邊)            ER  0.000000  0.000  0.000
     右邊   直徑(2)\n圓(A0.右邊)              ER  0.000000  0.000  0.000
          Y距離(8)\n距離(A0.右邊)            ER  0.000000  0.000  0.000
          Z距離(8)\n距離(A0.右邊)            ER  0.000748 -0.005  0.000
     左右邊  Y距離(5)\n距離(A0.左邊)(A0.右邊)     ER  0.000000  0.000  0.000
A180 左邊   直徑(3)\n圓(A180.左邊)            ER  0.000000  0.000  0.000
          Y距離(9)\n距離(A180.左邊)          ER  0.000344 -0.003  0.000
          Z距離(9)\n距離(A180.左邊)          ER  0.000107 -0.001  0.000
     右邊   直徑(4)\n圓(A180.右邊)            ER  0.000239  0.000  0.002
          Y距離(10)\n距離(A180.右邊)         ER  0.000286  0.000  0.002
          Z距離(10)\n距離(A180.右邊)         ER  0.000000  0.000  0.000
     左右邊  Y距離(6)\n距離(A180.左邊)(A180.右邊) ER  0.001987 -0.008  0.000
None None XY距離(1)\n距離                  ER  0.009603 -0.053  0.000

In [17]:
(df[ER_col] != 0).sum().to_frame()

                                             0
A0   左邊   直徑(1)\n圓(A0.左邊)              ER    0
          Y距離(7)\n距離(A0.左邊)            ER   51
          Z距離(7)\n距離(A0.左邊)            ER    0
     右邊   直徑(2)\n圓(A0.右邊)              ER    0
          Y距離(8)\n距離(A0.右邊)            ER    0
          Z距離(8)\n距離(A0.右邊)            ER   78
     左右邊  Y距離(5)\n距離(A0.左邊)(A0.右邊)     ER    0
A180 左邊   直徑(3)\n圓(A180.左邊)            ER    0
          Y距離(9)\n距離(A180.左邊)          ER   42
          Z距離(9)\n距離(A180.左邊)          ER   14
     右邊   直徑(4)\n圓(A180.右邊)            ER   34
          Y距離(10)\n距離(A180.右邊)         ER   41
          Z距離(10)\n距離(A180.右邊)         ER    0
     左右邊  Y距離(6)\n距離(A180.左邊)(A180.右邊) ER  235
None None XY距離(1)\n距離                  ER  136

In [18]:
df[(df[ER_col] != 0).any(axis = 1)]

       Unnamed: 0_level_0              A0                                \
       Unnamed: 0_level_1              左邊
       Unnamed: 0_level_2 直徑(1)\n圓(A0.左邊)
                     time              NV      AV     DV     UT LT   ER
0     2023-09-20 17:53:00              98  98.019  0.019  0.022  0  0.0
2     2023-09-21 11:18:00              98  98.012  0.012  0.022  0  0.0
3     2023-09-21 14:16:00              98  98.011  0.011  0.022  0  0.0
5     2023-09-21 17:36:00              98  98.013  0.013  0.022  0  0.0
7     2023-09-21 18:17:00              98  98.014  0.014  0.022  0  0.0
...                   ...             ...     ...    ...    ... ..  ...
1187  2023-10-06 20:10:00              98  98.005  0.005  0.022  0  0.0
1190  2023-10-06 20:53:00              98  98.018  0.018  0.022  0  0.0
1192  2023-10-06 21:41:00              98  98.005  0.005  0.022  0  0.0
1195  2023-10-06 22:39:00              98  98.021  0.021  0.022  0  0.0
1199  2023-10-06 23:41:00              98  98.007  0.007  0.022  0  0.0

                                        ...                         A180  \
                                        ...                          左右邊
     Y距離(7)\n距離(A0.左邊)                  ... Y距離(6)\n距離(A180.左邊)(A180.右邊)
                    NV       AV     DV  ...                           DV
0                  100  100.011  0.011  ...                        0.008
2                  100   99.997 -0.003  ...                       -0.008
3                  100  100.008  0.008  ...                        0.010
5                  100  100.012  0.012  ...                        0.007
7                  100   99.998 -0.002  ...                       -0.007
...                ...      ...    ...  ...                          ...
1187               100   99.996 -0.004  ...                       -0.008
1190               100   99.991 -0.009  ...                       -0.003
1192               100  100.011  0.011  ...                       -0.005
1195               100   99.999 -0.001  ...                        0.014
1199               100  100.001  0.001  ...                        0.018

                             None
                             None
                      XY距離(1)\n距離
         UT LT     ER          NV       AV     DV    UT    LT     ER
0     0.019  0  0.000       240.3  240.301  0.001  0.05 -0.05  0.000
2     0.019  0 -0.008       240.3  240.242 -0.058  0.05 -0.05 -0.008
3     0.019  0  0.000       240.3  240.197 -0.103  0.05 -0.05 -0.053
5     0.019  0  0.000       240.3  240.203 -0.097  0.05 -0.05 -0.047
7     0.019  0 -0.007       240.3  240.322  0.022  0.05 -0.05  0.000
...     ... ..    ...         ...      ...    ...   ...   ...    ...
1187  0.019  0 -0.008       240.3  240.247 -0.053  0.05 -0.05 -0.003
1190  0.019  0 -0.003       240.3  240.302  0.002  0.05 -0.05  0.000
1192  0.019  0 -0.005       240.3  240.338  0.038  0.05 -0.05  0.000
1195  0.019  0  0.000       240.3  240.248 -0.052  0.05 -0.05 -0.002
1199  0.019  0  0.000       240.3  240.331  0.031  0.05 -0.05  0.000

[396 rows x 91 columns]

writer = pd.ExcelWriter('data/train/train.xlsx', engine = 'xlsxwriter')
df.to_excel(writer, sheet_name = 'simulation')
writer.close()